.VideolocationDetails {
  padding: 40px;
  display: flex;
}

.VideolocationDetails > .video {
  width: 56vw;
  height: 70vh;
}

.VideolocationDetails .information {
  padding: 0;
  width: 100%;
  display: flex;
}

.VideolocationDetails p {
  color: rgb(139, 139, 139);
}

.VideolocationDetails > .map {
  width: 40vw;
}

.videoDetails-avatar {
  height: 80px;
  border-radius: 50%;
}

.VideolocationDetails .information h4 {
  position: absolute;
  left: 100px; 
  top: 24px;
}

.VideolocationDetails .user-details {
  position: relative;
}

.VideolocationDetails .title-views-container {
  /* background-color: aqua; */
  /* margin-left: 90px; */
}