.VideolocationDetails {
  padding: 40px;
  display: flex;
}

.VideolocationDetails > .video {
  width: 56vw;
  height: 70vh;
}

.VideolocationDetails .information {
  padding: 0;
  width: 100%;
  display: flex;
}

.VideolocationDetails p {
  color: rgb(139, 139, 139);
}

.VideolocationDetails > .map {
  width: 40vw;
}

.videoDetails-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.VideolocationDetails .information h4 {
  position: absolute;
  left: 100px;
  top: 24px;
}

.VideolocationDetails .information {
  position: relative;
}

.VideolocationDetails .title-views-container {
  width: 100%;
}

.userInformation-Details {
  position: relative;
}

.userInformation-Details .user-details h4 {
  position: absolute;
  top: 10px;
  left: 70px;
}
