/* General map style */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: white;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: white;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: white;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: white;
}

.upload-file-disabled {
  pointer-events: none;
}

/* Map container */
.locationmap-container {
  position: relative;
  width: 100vw;
  min-height: calc(100vh - 48px);
  /* min-height: fill-available;
  min-height: -webkit-fill-available; */
}

/* Map popup video player container */
.locationmap-container .mapboxgl-popup-content {
  padding: 0;
  border-radius: 10px;
  height: 100%;
}

.locationmap-container .video-home-grid,
.locationmap-container .videocard-container {
  width: 240px !important;
  height: 270px !important;
  margin: 0 !important;
}

/* Video */
.locationmap-container .VideoPlayer {
  width: 240px !important;
  height: 270px !important;
  border-radius: 10px;
}

.locationmap-container .VideoPlayer video {
  border-radius: 10px;
}
/* .locationmap-container video {
  height: 180px !important;
}

.locationmap-container video:hover {
  height: 206px !important;
}

.locationmap-container .video-home-grid h6 {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
} */

@media (min-width: 768px) {
  /* Enter map full screen */
  .locationmap-container .mapboxgl-ctrl-top-right {
    display: block;
  }
  
  /* Map View div */
  .MapLocations {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Map container */
  .locationmap-container {
    border-radius: 10px;
    width: 82.4vw;
    height: 47.6vw;
  }
}
