.Home {
  position: relative;
}

/* Searchbar */
.searchbar-container-home {
  height: 94px;
  z-index: 2;
  position: fixed;
  top: 60px;
  width: 100vw;
  padding: 0 30px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainSearchBar::placeholder {
  color: rgb(61, 61, 61);
  font-weight: 300;
}

.MainSearchBar {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 44px;
  border: none;
  background-color: rgb(236, 236, 236);
  color: rgb(75, 75, 75);
  padding: 0 2.6rem;
}

.MainSearchBar:focus {
  outline: none;
}

.Search {
  color: rgb(68, 68, 68);
  position: absolute;
  left: 44px;
  top: 39px;
}

.Search:hover {
  cursor: text;
}

.closeSearchbar {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-size: 1.2rem;
  right: 40px;
  top: 37px;
  color: rgb(112, 112, 112);
  font-weight: 400;
}

.closeSearchbar:hover {
  cursor: pointer;
  color: rgb(60, 60, 60);
}

.MainSearchBar:focus + .closeSearchbar {
  color: rgb(60, 60, 60);
}

.triangle {
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 26px solid white;
  top: 73px;
}

.Home-suggestions {
  background-color: white;
  font-size: 0.82rem;
  font-weight: 700;
  position: absolute;
  top: 82px;
  width: 70%;
  max-height: 150px;
  overflow: scroll;
  border-radius: 8px;
  padding: 4px 0px 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.Home-suggestions p {
  margin: 4px 0px;
  padding: 7px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: padding, background-color, 0.25s ease-out;
}

.Home-suggestions p:hover {
  background-color: rgb(236, 236, 236);
  transition: padding, background-color, 0.25s ease-in;
  cursor: pointer;
}

/* Videos */
.Home .playerContainer {
  height: calc(100vh - 48px);
  overflow: scroll;
  padding: 0px 10px;
  /* scroll-snap-type: y mandatory; */
}

.Home .playerContainer::-webkit-scrollbar {
  display: none;
}

.Home .videoCard {
  scroll-snap-align: start;
  width: calc(100vw - 20px);
  border-radius: 10px;
  border: 0.07rem solid rgb(238, 238, 238);
  margin: 20px 0px;
  background-color: white;
}

.Home .videoCard .topInfo {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 10px;
}

.Home .videoCard .topInfo h6 {
  font-weight: bold;
  margin: 0px;
  margin-left: 10px;
}

.Home .videoCard .bottomInfo p {
  margin: 0px;
}

.Home .VideoPlayer,
.Home .VideoPlayer video {
  height: 350px;
  width: 100%;
}

/* Tablet */
@media (min-width: 768px) {
  /* Home */
  .Home {
    padding: 96px 30px 0;
    position: relative;
  }

  /* Searchbar */
  .searchbar-container-home {
    position: relative;
    background-color: var(--background-color);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
    width: 83.2%;
    height: 94px;
    z-index: 2;
  }

  .MainSearchBar::placeholder {
    color: rgb(61, 61, 61);
    font-weight: 300;
  }

  .MainSearchBar {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 38vw;
    border: none;
    background-color: var(--background-color);
    background-color: rgb(236, 236, 236);
    color: rgb(75, 75, 75);
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .MainSearchBar:focus {
    outline: none;
  }

  .Search {
    color: rgb(68, 68, 68);
    position: absolute;
    left: 24.6vw;
    top: 40px;
  }

  .Search:hover {
    cursor: text;
  }

  .Home-suggestions {
    background-color: var(--background-color);
    background-color: rgb(236, 236, 236);
    font-size: 0.9rem;
    font-weight: 300;
    position: absolute;
    top: 64px;
    width: 38vw;
    max-height: 150px;
    overflow: scroll;
    border-radius: 0 0 10px 10px;
    padding: 4px 65px 6px;
  }

  .Home-suggestions p {
    border-radius: 4px;
    margin: 0;
    padding: 12px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: padding, background-color, 0.25s ease-out;
  }

  .Home-suggestions p:hover {
    padding: 12px 16px;
    border-left: 4px solid var(--pink-focused);
    background-color: rgb(230, 230, 230);
    transition: padding, background-color, 0.25s ease-in;
    cursor: pointer;
  }

  .closeSearchbar {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    font-size: 1.2rem;
    right: 23.5vw;
    top: 27px;
    color: rgb(112, 112, 112);
    font-weight: 400;
  }

  .closeSearchbar:hover {
    cursor: pointer;
    color: rgb(60, 60, 60);
  }

  .MainSearchBar:focus + .closeSearchbar {
    color: rgb(60, 60, 60);
  }

  /* Videos container */
  .videos-container {
    background-color: transparent;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
  }

  .videos-container::after {
    content: "";
    width: 25%;
  }
}
