.EditVideolocation {
  padding: 40px;
}

.form-control:focus {
  box-shadow: none;
}

.TrashFill {
  color: white;
  font-size: 1.1rem;
  position: absolute;
  right: 8px;
  top: 10px;
}

.TrashFill:hover {
  cursor: pointer;
}

.PencilSquare {
  margin-left: 50px;
}

.editSection {
  display: flex;
}

.editMainContainer {
  display: flex;
  justify-content: space-between;
}

.CopyIcon {
  font-size: 1.5rem;
  margin: 0 20px;
  color: rgb(95, 95, 95);
}

.CopyIcon:hover {
  color: black;
  cursor: pointer;
}
.tooltipEdit {
  position: relative;
  display: inline-block;
}

.tooltipEdit span {
  font-size: 12px;
}

.tooltipEdit .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(49, 49, 49, 0.877);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 70%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipEdit:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.urlHT {
  font-size: 15px;
  font-weight: 300;
}

.thumbnail-container {
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  position: relative;
  height: 150px;
  width: 150px;
  position: absolute;
  left: 222px;
  top: 180px;
}

.EditVideolocation .VideoPlayer {
  width: 100%;
  height: 400px;
}

.thumbnail-container video {
  width: 100%;
  margin: 0;
}

.edit-formcontainer {
  padding-top: 0px;
  padding-left: 0px;
  width: 500px;
}

.successMessage {
  margin-top: 14px;
}

.successMessage strong {
  text-decoration: underline;
  margin-left: 5px;
}

.successMessage strong:hover {
  cursor: pointer;
}