@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Yanone+Kaffeesatz:wght@700&display=swap");

/* Navbar */
.Navbar {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid rgba(223, 223, 223, 0.575);
}

/* Navbar components */
/* Platy */
.platy-nav-container {
  width: 12.5vw;
  text-align: center;
  line-height: 60px;
}

.platy {
  text-decoration: none;
  font-weight: 500;
  font-size: 2.6rem;
  font-family: "Shadows Into Light", cursive;
  
}

.platy svg {
  height: 100%;
}

.platy:hover {
  color: black;
}

/* Searchbar */
.searchbar-nav-container {
  width: 56vw;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
}

/* Profile */
.nav-avatar {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 17px;
  right: 100px;
  padding: 2px;
  border-radius: 50%;
}

.profile-container {
  width: 31.5vw;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 7px;
}

.ShareSvg {
  font-size: 1.6rem;
}

.profileLink button {
  padding: 0 0 0 30px;
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  width: 100px;
  height: 38px;
  margin: 0 30px 0 0;
  box-sizing: border-box;
}

.PersonFill-Nav {
  font-size: 1.8rem;
  color: rgb(34, 34, 34);
  position: absolute;
  right: 65px;
  top: 20px;
}

.share-flow {
  position: relative;
  background-color: var(--pink-focused);
  
  width: 156px;
  border-radius: 10px;
  margin-right: 48px;
  padding: 5px;
  font-weight: 400;
}

.share-flow svg {
  color: white;
}

.share-flow a {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: transparent;
  text-decoration: none;
  padding: 5px 8px 7px 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
}

.login {
  border: none;
  position: relative;
}

.login svg {
  left: 10px;
  top: 9px;
  font-size: 1.4rem;
}

/* Dropdown */
/* All you'll need if you need to personalize a dropdown menu */
/* .signup {
  background-color: rgb(37, 37, 37) !important;
  color: white !important;
  font-weight: 500;
} */

/* .Navbar .btn-primary {
  text-align: end;
  margin-right: 30px;
  width: 50px;
} */

/* .Navbar .btn-primary:active,
.Navbar .btn-primary:active:focus,
.Navbar .btn-primary:focus-within,
.Navbar .btn-primary:hover,
.Navbar .show > .btn-primary.dropdown-toggle,
.Navbar .show > .btn-primary.dropdown-toggle:focus {
  background-color: transparent;
  border: none;
  color: black;
  box-shadow: none;
} */

/* .DropdownToggle-Nav {
  position: relative;
} */

/* .dropdown-menu {
  border: none;
  min-width: 100px;
  text-align: start;
  padding: 0;
  z-index: 5;
  background-color: white;
  padding: 16px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */

/* .dropdown-item {
  line-height: 25px;
  padding: 9px 16px;
  background-color: transparent;
  color: black;
  font-size: 1rem;
} */

/* .dropdown-item:active,
.dropdown-item:focus-within {
  color: rgb(0, 0, 0);
} */

/* .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.027);
  border-left: 2px solid #65eccb;
  padding-left: 14px;
} */
