@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Yanone+Kaffeesatz:wght@700&display=swap");

/* Mobile 375px */
/* Navbar */
.Navbar {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid rgba(223, 223, 223, 0.575);
  padding: 0px 30px;
}

/* Navbar components */
/* Platy */
.platy-nav-container {
  width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platy-nav-container a svg {
  height: 48px;
  width: 86px;
}

/* Searchbar */
.searchbar-nav-container {
  display: none;
}

/* Profile */
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-ind-container {
  width: 25px;
  margin: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-ind-container:first-of-type {
  margin-left: 0px;
}
.icon-ind-container:last-of-type {
  margin-right: 0px;
}

.icon-ind-container svg {
  color: black;
  font-size: 24px;
  height: 24px;
  margin: 0px;
}

.nav-avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 0.1rem solid black;
}

/* Tablet */
@media (min-width: 768px) {
  .searchbar-nav-container {
    width: 56vw;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    background-color: rgb(242, 242, 242);
  }
}
