.VideoPlayer {
  position: relative;
  height: 320px;
  width: 100%;
  margin: 0;
  display: block;
  margin: 10px 0px 20px;
}

.VideoPlayer video {
  cursor: pointer;
  background-color: rgb(26, 26, 26);
  height: 100%;
  width: 100%;
}

.play-toggle,
.volume-toggle {
  color: rgb(231, 231, 231);
  height: 28px;
  width: 28px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  background-color: rgb(44, 44, 44);
}

.play-toggle {
  left: 10px;
}

.play-toggle svg,
.volume-toggle svg  {
  font-size: 1.1rem;
  cursor: pointer;
}

.play {
  padding-left: 0.14em;
  font-size: 1.3rem !important;
}

.volume-toggle {
  right: 10px;
  z-index: 2;
}

.volume-toggle:hover {
  background-color: rgb(60, 60, 60);
}

video:hover ~ .play-toggle,
.play-toggle:hover {
  background-color: rgb(60, 60, 60);
}