.sidebar {
  padding: 30px 18px 0;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 8px -4px rgba(0, 0, 0, 0.075);
}

.sidebarOption {
  width: 100%;
  height: 70px;
  position: relative;
}

.sidebarLink {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 5px;
  color: black;
  font-size: 0.94rem;
  text-decoration: none;
  padding: 3px;
  box-sizing: content-box;
}

.sidebarLink:hover {
  background-color: rgb(243, 243, 243);
  color: black;
  box-sizing: border-box;
  padding-left: 4px;
}

.activeLink {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 5px;
  font-size: 0.94rem;
  text-decoration: none;
  box-sizing: content-box;
  padding: 3px;
  background-color: rgb(243, 243, 243);
  color: black;
  border-left: 4px solid var(--pink-focused);
  box-sizing: border-box;
}

.activeLink:hover {
  color: black;
}

.sidebarLink:hover svg {
  padding: 8px;
  margin-right: 9px;
  transition: padding, margin-right, 0.25s ease-in;
}

.sidebar div svg {
  color: black;
  width: 44px;
  height: 44px;
  padding: 9px;
  border-radius: 5px;
  margin-right: 10px;
  transition: padding, margin-right, 0.15s ease-out;
}
