.videolocations-modal .modal-dialog {
  max-width: 58vw;
}

.videolocations-modal .modal-content {
  border: none;
  border-radius: 12px;
}

.videolocations-modal .modal-container {
  height: 59.9vh;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.videolocations-modal .divided-container {
  display: flex;
}

.videolocations-modal .divided-container > div {
  width: 50%;
}

.infoVideoModal {
  padding: 10px;
}

.infoVideoModal:hover {
  cursor: pointer;
}
