.videocard-container-ForMap {
  width: 210px !important;
  height: 270px !important;
  margin: 0 !important;
}

.videocard-container-ForMap video {
  height: 166px !important;
  transition: height 0.15s ease-out;
  z-index: 10;
}

.videocard-container-ForMap video:hover {
  height: 190px !important;
  transition: height 0.25s ease-in;
}

.videocard-container-ForMa .viewsCount {
  position: unset !important;
}

.videocard-container-ForMap .videoPreviewAvatarContainer {
  top: 146px !important;
  transition: top, height, width, 0.15s ease-out;
}

.videocard-container-ForMap video:hover + .videoPreviewAvatarContainer {
  top: 170px !important;
  transition: top, height, width, 0.25s ease-in;
}

.viewsCount a {
  color: black;
  border: none;
  outline: none;
  transition: color 0.15s ease-out;
}

.videocard-container-ForMap
  video:hover
  ~ .video-description
  .viewsCount
  .anchorDetails {
  color: transparent;
  transition: color 0.25s ease-in;
}

.videocard-container-ForMap svg {
  background-color: rgba(0, 0, 0, 0.267);
  color: rgba(255, 255, 255, 0.541);
  padding-left: 4px;
  font-size: 2.4rem;
  border-radius: 50%;
  position: absolute;
  left: 86px;
  top: 80px;
}