.app-container {
  width: 100vw;
  padding-top: 48px;
}

.mainLoading {
  padding: 20px;
  width: 100vw;
}

@media (min-width: 768px) {
  .app-container {
    width: 100vw;
    padding-top: 70px;
  }
}
