.small-modal .modal-dialog {
  max-width: 350px;
  text-align: center;
}

.small-modal .modal-delete {
    color: rgb(255, 0, 64);
}

.small-modal .modal-content {
  border: none;
  border-radius: 12px;
  padding: 10px 0px;
}

.small-modal .modal-content h6:hover {
  cursor: pointer;
}

.small-modal .modal-content h6 {
  margin: 0;
}

.small-modal .modal-container {
  height: 80vh;
}

.small-modal .divided-container {
  display: flex;
}

.small-modal .divided-container > div {
  width: 50%;
}

.removing-h4 {
  margin: 0;
  margin-top: 20px;
}